accestoken

.env

vendor/doctrine
vendor/composer
vendor/bin
vendor/graham-campbell
vendor/symfony
vendor/phpoption
vendor/psr
vendor/phpmailer
vendor/autoload.php
vendor/vlucas
vendor/Ernicani/Kernel/proxies

src/DoctrineMigrations/*.php

# gitignore node
node_modules
npm-debug.log

# public / uploads
public/uploads/*